@import "./variables";
@import "./generales" ;

/*Desktop*/
@media (min-width: 1024px){
    .rellenoPopup{
        padding:0% 0% 0% 45%;
    }
    .contenedor-grid{
        display: grid;
        grid-template-rows: 10% auto 10%;
        height: 100vh;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }
    header{
        grid-area: header;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .nav{
            margin-left: 300px;
        }
        .redes{
            margin-left: 50px;
        }
    }
    .carrito{
        margin-left: 15%;
    }
    
    .no-display-desktop{
        display: none;
    }
    .barra-navegacion{
        text-decoration: none;
        color: black;
        margin-left: 10px;
        border-radius: 1rem;
        font-size: 18px;
        padding: 7px 13px;
        
        &:hover{
            background-color:$color;
            color: white;
            transition: 0.5s;
        }
    }
    main{
        grid-area: main;
    }
    .galeria{
        width: 100%;
        height: 100%;
        margin: 15px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
    "imagen1 imagen1 imagen1"
    "imagen2 imagen3 imagen4";

    .imagen-1{
        grid-area: imagen1;
        width: $ancho+300px;
        height: $alto+5px;
        }
        
        //BUCLE//

    @for $i from 2 through 4{
        .imagen-#{$i}{
            grid-area:imagen#{$i};
            width: ($ancho)-600px;
            height: ($alto)-100px;
            margin-left: 40px;
            transition: 1s;
            margin-top: 40px;
            
            &:hover{
                scale: (1.15);
            }
        }
        }
        article{
            display: flex;
            flex-direction: row;
            
        }
    }
    
    footer{
        grid-area: footer;
        background-color: $color;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        p{
            margin-left: 500px;
        }
    }

    .contenedor-grid-accesorios{
        display: grid;
        grid-template-rows: 20% auto 10%;
        height: 100vh;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
        .header-accesorios{
            grid-area: header;
            display: flex; 
            justify-content: space-around;  
             margin-right: 10%;
            
            
        }
        .main-accesorios{
            grid-area: main;

            .galeria-accesorios{
                display: grid;
                width: 100%;
                height: 100%;
                gap: 1rem;
                justify-items: center;
                grid-template-columns: 1f 1fr 1fr;
                grid-template-rows: 1fr 1fr ;
                grid-template-areas: 
                "imagen1 imagen2 imagen3 "
                "imagen4 imagen5 imagen6";
                
                //BUCLE//

                @for $m from 1 through 6{
                    .imagen#{$m}{
                        grid-area: imagen#{$m};
                    }
                }
                p{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .footer-accesorios{
            grid-area: footer;
            display: flex;
            flex-direction: row;
            align-items: center;

            nav{
                margin-left: 390px;
                
            }
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
            }
        }

        
    }
    .logos{
        margin: 2px;
        
    }
    .barra-navegacion-accesorios{
        color: white;
        text-decoration: none;
        margin: 10px;
        
        
        &:hover{
            color: rgb(170, 170, 170);
        }
        
    }

    .contenedor-grid-catalogo{
        display: grid;
        grid-template-rows: 20% auto 10%;
        height: 100vh;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    .header-catalogo{
        grid-area: header;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content:space-around;
    }
    .main-catalogo{
        grid-area: main;
        
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        iframe{
            width: $ancho+300px;
            height: $alto+200px;
        }
    }
    .footer-catalogo{
        grid-area: footer;
        nav{
            margin-left: 390px;
            
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                list-style: none;
            }
        }
    }

    .contenedor-grid-nosotros{
        display: grid;
        grid-template-rows: 20% auto 10% ;
        height: 100vh;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }

    .header-nosotros{
        grid-area: header;

        .wineem-logo-nosotros{
        margin-left: 45%;
    }
        
    }
    .main-nosotros{
        grid-area: main;
    }
    .footer-nosotros{
        grid-area: footer;

        nav{
            margin-left: 380px;
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
            }
        }
    }

    .conteiner-nosotros{
        margin: 0 5% ;

        iframe{
            float: left;
            margin-right: 5%;
            width: ($ancho)-500px;
            height: 280px ;
        }
        //BUCLE//
        @for $e from 1 through 2{
            h#{$e}{
                font-size: 20px;
            }
        }
        P{
            font-weight: 300;
            font-size: 12px;
            font-style: italic;
            line-height: 1.2;
        }
       
    
    }   

    .conteiner-grid-trabajaconnosotros{
        display: grid;
        grid-template-rows: 20% auto 10%;
        height: 100vh;
        grid-template-areas: 
        "header"
        "main"
        "footer";

        .header-trabajaconnosotros{
            grid-area: header;
        }
        .main-trabajaconnosotros{
            grid-area: main;
        }
        .footer-trabajaconnosotros{
            grid-area: footer;
            
            nav{
                margin-left: 390px;
                ul{
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                }
            }
        }
    }
    .grid-trabajaconnosotros{
        margin-left: 5%;

        iframe{
            float: left;
            margin-right: 3%;
            width: 600px;
            height: 450px;
        }

        p{
            
             font-size: 17px;
             font-style: italic;
             line-height: 1.6;
            
        }
    }
    .boton{
        display: inline-block;
        display: flex;
       text-decoration: none;
       width: 150px;
       height: 50px;
       padding-left: 20px;
       margin-top: 5px;
       align-items: center;
       border-radius: 2rem;
       color: black;
       border: solid;
       
       &:hover{
        background-color: black;
        color: white;
       }
    }

    .logo-wineem-tcn{
        margin-left: 43%;
    }
    

 }   
 /*Tablet*/
@media (min-width: 481px) and (max-width: 1023px){
    .rellenoPopup{
        padding:0% 0% 0% 45%;
    }
    .contenedor-grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% auto 10%;
        height: 100vh;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }
    .no-display{
        display: none;
    }
    .logo-nav-hamburguer{
        margin-left: 110px;
    }
    header{
        grid-area: header;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around ;
    }
    .wineem-logo{
        margin-left: 20%;
    }
    
    .carrito{
        margin-left: 30%;
    }
    .barra-navegacion{
        
        text-decoration: none;
        color: rgb(0, 0, 0);
        border-radius: 1rem;
        font-size: 17px;
        padding: 7px 13px;

        &:hover{
            background-color: rgb(29, 29, 29);
            color: white;
            transition: 0.5s;
        }
    }
    main{
        grid-area: main;
    }
    .galeria{
        width: 100%;
        margin: 15px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
    "imagen1 imagen1 imagen1"
    "imagen2 imagen3 imagen4";
    
    .imagen-1{
        grid-area: imagen1;
        width: 906px;
        height: 372px;
    }

        //MIXIN//

    @mixin sizes ($anchura, $altura) {
        width:$anchura;
        height: $altura;
    }
    
    @for $j from 2 through 4{
        .imagen-#{$j}{
            grid-area: imagen#{$j};
            @include sizes(300px, 300px);
            margin-left: 15px;
            margin-top: 40px;
            transition: 1s;

            &:hover{
                scale: (1.15);
            }
            
        }
        }
    article{
            display: flex;  
            flex-direction: row;
            margin-top: 15px;
            
        }
}
    
    footer{
        grid-area: footer;
        background-color: $color;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        p{
            margin-left: 300px;
        }
    }

    .contenedor-grid-accesorios{
        display: grid;
        grid-template-rows: 15% auto 10%;
        height: 100vh;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;

        .header-accesorios{
            grid-area: header;
            display: flex; 
            justify-content: space-evenly;  
            flex-direction: row;
    
        }
        .main-accesorios{
            grid-area: main;

            .galeria-accesorios{
                display: grid;
                justify-items: center;
                width: 100%;
                height: 50%;
                gap: 1rem;
                margin-top: 100px;
                grid-template-columns: 1f 1fr;
                grid-template-rows: 1fr 1fr 2fr;
                grid-template-areas: 
                "imagen1 imagen2"
                "imagen3 imagen4"
                "imagen5 imagen6";
            }
        
                @for $a from 1 through 6{
                    .imagen#{$a}{
                        grid-area: imagen#{$a};
                    }
                    
                }
            p{
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 12px;
                font-weight: bold;
                
                }
        }
        .footer-accesorios{
            grid-area: footer;
            display: flex;
            flex-direction: row;
            
            .logos{
                margin: 5px;
            }
        }
    }
    .wineem-logo-accesorios-tablet{
        margin-left: 80%;
    }
    
    .carrito-accesorios{
        margin-left: 30%;
    }

    .contenedor-grid-catalogo{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% auto 10%;
        height: 100vh;
        grid-template-areas: 
        "header"
        "main"
        "footer";

        .header-catalogo{
            grid-area: header;
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: space-around;
            
            
        }
        .main-catalogo{
            grid-area: main;
            
            div{
                display: flex;
                 align-items: center;
                justify-content: center;
                margin-bottom: 20px;

                iframe{
                    width: 1330px;
                    height: 700px;
                }
            }
        }
        .footer-catalogo{
            grid-area: footer;
        }
    }
    .logo-catalogo{
        margin-left: 30%;
    }
    .carrito-catalogo{
        margin-left: 25%;
    }
    
    .contenedor-grid-nosotros{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% auto 10% ;
        height: 100vh;
        
        grid-template-areas: 
        "header"
        "main"
        "footer";

        .header-nosotros{
            grid-area: header;
        }
        .main-nosotros{
            grid-area: main;

            .conteiner-nosotros {
                
               iframe{
                float: none;
                margin-left: 27%;
                height: 200px;
                width: 450px;
               }

               p{
                font-weight: 300;
                font-size: 13px;
                font-style: italic;
                line-height: 1.6;
                margin-left: 5px;
               }
               h1{
                font-size: 18px;
                margin-left: 5px;
                }
                h2{
                font-size: 18px;
                
                } 
            }
        }
        .footer-nosotros{
            grid-area: footer;
            .logos{
                margin: 2px;
                
            }
        }
    }
    .wineem-logo-nosotros{
        margin-left: 25%;
    }
    .carrito-nosotros{
        margin-left: 25%;
    }
        
    .conteiner-grid-trabajaconnosotros{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% auto 10%;
        height: 100vh;
        grid-template-areas: 
        "header"
        "main"
        "footer";

        .header-trabajaconnosotros{
            grid-area: header;

            .logo-wineem-tcn{
                margin-left: 20%;
            }
            .carrito-tcn{
                margin-left: 20%;
            }
        }
        .main-trabajaconnosotros{
            grid-area: main;

            .grid-trabajaconnosotros{
                margin-left: 5%;

                iframe{
                    float: none;
                    margin-left: 17%;
                    width: 600px;
                    height: 300px;
                }
                p{
                    display: flex;
                    justify-content: center;
                    font-size: 17px;
                    font-style: italic;
                    line-height: 1.6;
                    font-weight: 800;
                    
                }
                .boton{
                    display: inline-block;
                    display: flex;
                   text-decoration: none;
                   width: 150px;
                   height: 50px;
                   padding-left: 20px;
                   margin-top: 30px;
                   margin-left: 40%;
                   align-items: center;
                   border-radius: 2rem;
                   color: black;
                   border: solid;

                   &:hover{
                    background-color: black;
                    color: white;
                   }
                }
            }
        }
        .footer-trabajaconnosotros{
            grid-area: footer;
        }
    }  
    
    
}

/*==== SMALL DEVICE ===== */

@media only screen and (min-width: 320px) and (max-width: 480px){
    .rellenoPopup{
        padding:0% 0% 0% 35%;
    }
    .contenedor-grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% auto 10%;
        height: 100vh;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    }
    

    header{
        grid-area: header;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center ;
    }
    
    .logo-nav-hamburguer{
        margin-left: 70px;
    }
    .barra-navegacion{
        
        text-decoration: none;
        color: rgb(0, 0, 0);
        border-radius: 1rem;
        font-size: 17px;
        padding: 7px 13px;

        &:hover{
            background-color: rgb(29, 29, 29);
            color: white;
            transition: 0.5s;
        }
    }
    .carrito{
        margin-left: 10%;
    }
    
    main{
        grid-area: main;
    }
    .img-bnv-smarthphone{
        width: 370px;
        height: 390px;
        margin-left: 1.5%;
    }
    
    .galeria{
        width: 100%;
        height: 55%;
        margin: 15px auto;
        display: grid;

        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "imagen1"
        "imagen2"
        "imagen3"
        "imagen4";
        
    }
    .imagen-1{
        grid-area: imagen1;
        height: 161px;
        
        
    }
    
    .imagen-2{
        grid-area: imagen2;
        width: 250px;
        height: 250px;
        margin: auto;
        transition: 1s;
        margin-top: 20px;
        
        &:hover{
            transform: scale(1.15)
        }
        
       
    }   
    .imagen-3{
        grid-area: imagen3;
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 250px;
        margin: auto;
        margin-top: 20px;
        transition: 1s;
        
        &:hover{
            transform: scale(1.15)
        }
    }
    .imagen-4{
        grid-area: imagen4;
        width: 250px;
        height: 250px;
        margin: auto;
        margin-top: 20px;
        transition: 1s;
        
        &:hover{
            transform: scale(1.15)
        }
    }
    article{
        display: flex;  
        flex-direction: column;
    }
    footer{
        grid-area: footer;
        background-color: $color;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;

        p{
            margin-left: 40px;
        }
    }
    .no-display-smartphone{
        display: none;
    }
    
    .contenedor-grid-accesorios{
        display: grid;
        grid-template-rows: 15% auto 5%;
        height: 100vh;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;

        .header-accesorios{
            grid-area: header;
            display: flex; 
            justify-content: center;  
             margin-right: 10%;

             .wineem-logo-accesorios-smartphone{
                margin-left: 10px;
            }
            .carrito-accesorios{
                margin-left: 30px;
            }
        }
        .main-accesorios{
            grid-area: main;

            .galeria-accesorios{
                display: grid;
                gap: 1rem;
                justify-items: center;
                grid-template-columns: 100%;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas: 
                "imagen1"
                "imagen2"
                "imagen3"
                "imagen4"
                "imagen5"
                "imagen6";
                
                @for $o from 1 through 6{
                    imagen#{$o}{
                        grid-area: imagen#{$o};
                        width: 200px;
                        height: 200px;
                    }
                }
                p{
                    display: flex;
                     flex-direction: column;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    
                    
                }
            }
        }
        .footer-accesorios{
            grid-area: footer;
            display: flex;
            flex-direction: row;

            .logos{
                margin: 2px;
                
            }
            
        }

        
    }
    .contenedor-grid-catalogo{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% auto 5%;
        height: 100vh;
        grid-template-areas: 
        "heade"
        "main"
        "footer";

        .header-catalogo{
            grid-area: heade;
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: center;

            .carrito-catalogo{
                margin-left: 30px;
            }
        }
        .main-catalogo{
            grid-area: main;

            div{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;

                iframe{
                    width: 1330px;
                    height: 700px;
                }
            }
        }
        
        .footer-catalogo{
            grid-area: footer;
        }
    }

    .contenedor-grid-nosotros{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% auto 7% ;
        height: 100vh;
        
        grid-template-areas: 
        "header"
        "main"
        "footer";

        .header-nosotros{
            grid-area: header;

            .carrito-nosotros{
                margin-left: 30px;
            }
        }
        .main-nosotros{
            grid-area: main;

            .conteiner-nosotros{
                margin: 0 5% ;

                iframe{
                    float: none;
                    height: 150px;
                    width: 285px;
                }

                p{
                    font-weight: 300;
                     font-size: 11px;
                     font-style: italic;
                     line-height: 1.6;
                }
            }

            h1{
                font-size: 15px;
                font-weight: 700;
        
            }
            h2{
                font-size: 15px;
                font-weight: 700;
            }
        }
        .footer-nosotros{
            grid-area: footer;

            .logos{
                margin: 2px
            }
        }
    }

    .conteiner-grid-trabajaconnosotros{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% auto 10%;
        height: 100vh;
        grid-template-areas: 
        "heade"
        "main"
        "footer";

        .header-trabajaconnosotros{
            grid-area: heade;

            .carrito-tcn{
                margin-left: 10%;
            }
        }
        .main-trabajaconnosotros{
            grid-area: main;

            .grid-trabajaconnosotros{
                margin-left: 5%;

                iframe{
                    float: none;
                    margin-left: 10%;
                    width: 285px;
                    height: 150px;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 13px;
                    font-style: italic;
                    line-height: 1;
                    margin-left: 1%; 
                    font-weight: 900;
                }

                .boton{
                    display: inline-block;
                    display: flex;
                   text-decoration: none;
                   width: 150px;
                   height: 50px;
                   padding-left: 20px;
                   margin-top: 30px;
                   margin-left: 23%;
                   margin-bottom: 30px;
                   align-items: center;
                   border-radius: 2rem;
                   color: black;
                   border: solid;

                   &:hover{
                    background-color: black;
                    color: white;
                   }
                }
            }
        }
        .footer-trabajaconnosotros{
            grid-area: footer;
        }
    }

}